:root {
  --mainColor: white;
}

body {
  background-color: var(--mainColor);
}

.elem {
  width: 60px;
  height: 60px;
  position: absolute;
  left: -10px;
  top: 10px;
  -webkit-font-smoothing: antialiased;
  user-select: none;
}
  
.elem:active {
    transform: scale(0.9);
}
  
.elem > .chat-head {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: url(https://scontent-lhr3-1.xx.fbcdn.net/t31.0-8/14188657_1198636253489891_8215837322656976911_o.jpg);
    background-size: 100%;
    background-position: center;
    filter: drop-shadow(1px 1px 1px black);
}
  
.elem > .chat-counter {
    position: absolute;
    top: -4px;
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: white;
    font-family: 'Arial';
    font-size: 12px;
    font-weight: 600;
    padding: 3px 0;
    text-align: center;
    box-sizing: border-box;
  }
    
.elem > .chat-counter.left {
  right: -4px;
}
.elem > .chat-counter.right {
  left: -4px;
}

button {
  width: 200px;
  height: 50px;
  margin: 20px auto;
  display: block;
  user-select: none;
}